absl-py~=1.0.0
attrs~=21.2.0
dm-tree~=0.1.1
matplotlib~=3.3.4
mpmath
numpy~=1.21.5
pandas~=1.1.4
scipy~=1.5.0
scikit-learn~=1.0.2
tensorflow-datasets~=4.5.2
tensorflow-estimator~=2.4
tensorflow-probability~=0.15.0
tensorflow~=2.4
